{% extends 'layout.html.twig' %}

{% block body %}


    <!--Header-area-->
    <header class="header-area-blog overlay full-height-miniHeader relative v-center">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text-blog">
                    <h2>Je m'informe !</h2>
                    <h3>Consulter nos derniers articles</h3>
                </div>
            </div>
        </div>
    </header>
    <section class="section-padding" id="blog-page">
        <div class="container" id="pageBlog">
            <div class="row">
                {% for article in listArticles %}
                        <div class="col-xs-12 col-sm-6">
                            <div class="single-blog">
                                <div class="box" style="padding: 10px 10px; text-align: left;">
                                    <div class="blog-photo">
                                        <img src="{{ asset('bundles/naocore/img/blog/small1.jpg') }}" alt="default">
                                    </div>
                                    <div class="blog-content">
                                        <h3>
                                            <a href="{{ path('article', {'id': article.id}) }}">
                                                {{ article.title }}
                                            </a>
                                        </h3>
                                        <ul class="blog-meta">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                            <span>{{ article.date|date('d/m/Y') }}</span>
                                        </ul>
                                        <p>{{ article.content|truncate(100, true)|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% else %}
                    <div class="col-xs-12 col-sm-6">
                        <h3> Pas (encore !) d'article</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}