<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/cevcore/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/cevcore/css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/cevcore/css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ asset ('bundles/cevcore/css/carousel.css') }}">
        <link rel="stylesheet" href="{{ asset ('bundles/cevcore/css/tether.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{{ asset ('bundles/cevcore/css/Style.css') }}">
    {% endblock %}

</head>
<body>
{% block navbar %}
    {% include
        'navbar.html.twig' %}
{% endblock %}



<div class="body-container" id="window">
    {% block body %}
    {% endblock %}
</div>

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/js/jquery.slim.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/cevcore/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cevcore/js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cevcore/js/tether.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cevcore/js/jarallax.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('bundles/cevcore/js/carousel.js') }}"></script>
<script>
    $(function () {
        $('#calendar-holder').fullCalendar({
            header: {
                left: 'prev, next, today',
                center: 'title',
                right: 'month, basicWeek, basicDay'
            },
            lazyFetching: true,
            navLinks: true,
            eventSources: [
                {
                    url: './fc-load-events',
                    type: 'POST',
                    data: {
                        filters: {}
                    },
                    error: function () {
                        alert('There was an error while fetching FullCalendar!');
                    }
                }

            ]
        });
    });

    $(document).ready(function(){
        $('.parallax').parallax();
    });

</script>
{% endblock %}
</body>
</html>
