{% block navbar %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="NavBar">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('bundles/cevcore/logos/logo-black.png') }}" height="50" class="d-inline-block align-top"
                 alt="logo CeV" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown ml-auto" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('news') }}">Je m'informe</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white " href="{{ path('member_index') }}">Qui sommes-nous ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('contact') }}">Contact</a>
                </li>


                {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}

                    <li class="nav-item btn btn-warning" id="offButton">
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="fas fa-power-off"></i>
                        </a>
                    </li>

                {% else %}

                    <li class="nav-item btn btn-warning" id="donButton">
                        <a class="nav-link text-white" href="{{ path('don') }}" id="don">Je donne !</a>
                    </li>

                {% endif %}

                {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_ADMIN")) %}

                    <li class="nav-item btn btn-warning" id="adminButton">
                        <a class="nav-link text-white" href="{{ path('admin') }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </li>
                {% endif %}

                {#{% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_ADMIN")) %}#}
                {#<li><a href="{{ path('user.username', {'username': app.user.username } ) }}" class="helloAdmin" >Bonjour {{ app.user.username }} !</a>#}
                {#</li>#}
                {#<li><a href="{{ path('admin') }}" class="helloAdmin" >Administration</a>#}
                {#</li>#}
                {#{% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                {#<li>#}
                {#<a href="{{ path('user.username', {'username': app.user.username } ) }}" class="helloUser" >#}
                {#Bonjour {{ app.user.username }} !#}
                {#</a>#}

                {#</li>#}
                {#{% endif %}#}




                {# CONNEXION/DÉCONNEXION #}

                {#{% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_ADMIN")) %}
                    <li class="nav-item">
                        <a href="{{ path('fos_user_profile_show' ) }}" class="nav-link link text-white display-4">Bonjour {{ app.user.username }}
                            !</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('admin') }}" class="nav-link link text-white display-4">Administration</a>
                    </li>
                #}{#{% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}{#
                    #}{#<li class="nav-item">#}{#
                        #}{#<a href="{{ path('user.username', {'username': app.user.username } ) }}"#}{#
                           #}{#class="nav-link link text-white display-4">#}{#
                            #}{#Bonjour {{ app.user.username }} !#}{#
                        #}{#</a>#}{#

                    #}{#</li>#}{#
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_logout') }}" class="nav-link link text-white display-4">Déconnexion</a>
                    </li>
                {% else %}

                {% endif %}#}
            </ul>

        </div>
    </nav>

    <div class="col-sm-1" id="calendarButton">
        <a href="{{ path('calendar') }}" id="openNavLeft" class="btn btn-lg" onclick="w3_open_left()" title="Calendrier"
           style="position: fixed; top: 65px;left: 0px">
            <i class="far fa-calendar-alt"></i>
        </a>
    </div>
{% endblock %}