{% extends 'layout.html.twig' %}

{% block body %}

    <header class="jumbotron-fluid parallax-container">
        <div class="parallax">

            <img src="{{ asset ('bundles/cevcore/images/team.jpg') }}">

        </div>
        <h1 class="article-title centered-top">CEV c'est avant tout ...</h1>

        {% for intro in intros %}
            <div class="centered">
                {% if intro.content is not null %}
                    <h3 class="article-title">{{ intro.content }}</h3>
                {% endif %}
            </div>
            {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_ADMIN")) %}
                <a class="btn btn-default bottom-left" href="{{ path('intro_edit', {'id': intro.id}) }}">Editer</a>

            {% endif %}


        {% endfor %}
    </header>
    <div class="row">
        {% for member in members %}

            <div class="col-lg-4">
                <a href="#" class="card white-text">
                    {% if member.picture is not null %}

                        {{ member.picture }}
                    {% else %}
                        <img src="{{ asset('bundles/cevcore/images/cranium.png') }}" class="card-img">

                    {% endif %}

                    <div class="card-img-overlay">
                        <h3 class="card-title"> {{ member.name }} {{ member.lastName|upper }} </h3>
                        <p class="card-text"> {{ member.role }}</p>
                    </div>
                </a>
            </div>

        {% endfor %}



    </div>
    <div class="col-lg-2">
        {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) and (is_granted("ROLE_ADMIN")) %}

            <a class="btn btn-default waves-effect waves-light" href="{{ path('member_new') }}">Ajoutez un nouveau
                membre</a>

        {% endif %}
    </div>



{% endblock %}