{% extends 'layout.html.twig' %}

{% block body %}
    <!--Notice Area-->
    <div class="col-md-12">
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <!--Header Area-->

    <header class="header-area full-height relative v-center parallax-container" id="header">

        <div class="parallax">
            <img src="{{ asset('bundles/cevcore/images/man.jpg') }}" class="img" alt="responsive-image"
                 style="opacity: 1">
        </div>
        <div class="text-center centered" id="header-text">
            <h2>Aidez la recherche contre les maladies cérébrales</h2>
            <h3>Venez contribuer en devenant bénévole ou en soutenant la recherche par un
                don.</h3>
            <!-- ajouter le lien -->
            <a href="{{ path('membership') }}" id="membership-button" class="btn btn-light mainButton">Bénévole</a>
            <a href="{{ path('don') }}" id="donate-button" class="btn btn-light mainButton">Donation</a>
        </div>

    </header>
    <!--Header Area/-->

    <!-- Service area -->

    <section class="background service" id="service-page-home">

        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="row">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="col-lg-12 text-center service-block">
                        <a href="{{ path('admin') }}" class="card hoverable">
                            <div class="card-content">
                                <div class="card-img">
                                    <div id="wb_FontAwesomeIcon3">
                                        <div id="FontAwesomeIcon3" style="font-size: 8rem; text-align: center"><i
                                                    class="fas fa-hands-helping"></i></div>
                                    </div>
                                    <div class="card-title">
                                        <h2>Panneau d'administration !</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% else %}
                    <div class="col-lg-4 text-center service-block">
                            <a href="{{ path('membership') }}" title="Membership" class="card hoverable">
                                <div class="card-content">
                                    <div class="card-image">
                                        <div id="wb_FontAwesomeIcon3">
                                            <div id="FontAwesomeIcon3" style="font-size: 8rem; text-align: center"><i
                                                        class="fas fa-hands-helping"></i></div>
                                        </div>
                                    </div>
                                    <div class="card-title">
                                        <h2>Devenez Benevole !</h2>
                                    </div>
                                    <p>Participez à une expérience humaine</p>
                                </div>
                            </a>

                    </div>


                    <div class="col-lg-4 text-center service-block ">
                        <a href="{{ path('don') }}" title="Membership" class="card hoverable">
                            <div class="card-content">
                                <div class="card-image">
                                    <div id="wb_FontAwesomeIcon3">
                                        <div id="FontAwesomeIcon3" style="font-size: 8rem; text-align: center"><i
                                                    class="fas fa-hand-holding-usd"></i></div>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h2>Faites une donation !</h2>
                                </div>
                                <p>Contribuez au financement sur la recherche</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 text-center service-block ">
                        <a href="{{ path('membership') }}" title="Membership" class="card hoverable">
                            <div class="card-content">
                                <div class="card-image">
                                    <div id="wb_FontAwesomeIcon3">
                                        <div id="FontAwesomeIcon3" style="font-size: 8rem; text-align: center"><i
                                                    class="fas fa-envelope-open"></i></div>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <h2>Ecrivez-nous un message !</h2>
                                </div>
                                <p>Besoin de conseil, de soutien ?</p>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>

    <!-- Service Area /-->

    <!-- News Area -->

    <section class="section-news" id="news-page">
        <div class="container">
            <div class="row">
                {% for article in articles %}
                    <div class="col-xs-12 col-lg-4 article-card">
                        <a href="{{ path('article_show', {'id': article.id}) }}" class="waves-effect waves-light card hoverable">
                            <div class="card-image">
                                {% if article.image is not null %}
                                    {{ article.image }}

                                {% else %}
                                    <img src="{{ asset ('bundles/cevcore/images/lamp.jpg') }}">
                                {% endif %}
                            </div>
                            <div class="card-title center-align">
                                <h2>
                                    {{ article.title }}
                                </h2>
                            </div>
                            <ul class="card-action">

                                <i class="glyphicon glyphicon-calendar"></i>
                                <span>{{ article.date|date('d/m/Y') }}</span>
                            </ul>
                            <div class="card-content text-justify">
                                <p>{{ article.content|truncate(200, true)|raw }}</p>

                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}



