{% extends 'layout.html.twig' %}

{% block body %}

    <header class="header-area-blog overlay full-height-miniHeader relative v-center">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text-blog">
                    <h2>Je m'informe !</h2>
                    <h3>Consulter nos derniers articles</h3>
                </div>
            </div>
        </div>
    </header>

    <!--Header-area-->
<div class="row">
    <section class="section-padding col-md-8" id="blog-page">
        <div class="container-fluid" id="pageBlog">
            {% for article in articles %}
                <div class="col-xs-12 col-sm-12">
                    <a href="{{ path('article_show', {'id': article.id}) }}" class="card hoverable">
                        <div class="row">
                            <div class="card-image col-md-4 imgcard">
                                {% if article.image is not null %}
                                    {{ article.image }}

                                {% else %}
                                    <img src="{{ asset ('bundles/cevcore/images/lamp.jpg') }}">
                                {% endif %}
                            </div>
                            <div class="card-title col-md-8 center-align">
                                <h1>
                                    {{ article.title }}
                                </h1>
                                <ul class="card-action">

                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <span>{{ article.date|date('d/m/Y') }}</span>
                                </ul>
                                <div class="card-content">
                                    <p>{{ article.content|truncate(200, true)|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </section>
    <section class="col-md-4 sidestory" id="MySidebar">

        <button class="btn"></button>

        {{ render(controller("CEVNewsBundle:Post:index")) }}

    </section>
</div>

{% endblock %}
<script>
function w3_open() {
document.getElementById("main").style.marginRight = "25%";
document.getElementById("mySidebar").style.width = "25%";
document.getElementById("mySidebar").style.display = "block";
document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
document.getElementById("main").style.marginRight = "0%";
document.getElementById("mySidebar").style.display = "none";
document.getElementById("openNav").style.display = "inline-block";
}
</script>