{% extends 'article/layout.html.twig'  %}

{% block article %}


    <!--Header-area-->

    <section class="section-padding " id="blog-page">
        <div class="container-fluid" id="pageBlog">
            <div class="row">
                {% for article in articles %}
                    <div class="col-xs-12 col-sm-4">
                        <a href="{{ path('article_show', {'id': article.id}) }}" class="card">
                            <div class="card-image">
                                {% if article.image is not null %}
                                    {{ article.image }}

                                {% else %}
                                    <img src="{{ asset ('bundles/cevcore/images/lamp.jpg') }}">
                                {% endif %}
                            </div>
                            <div class="card-title">
                                <h4>
                                    {{ article.title }}
                                </h4>
                            </div>
                            <ul class="card-action">

                                <i class="glyphicon glyphicon-calendar"></i>
                                <span>{{ article.date|date('d/m/Y') }}</span>
                            </ul>
                            <div class="card-content">
                                <p>{{ article.content|truncate(200, true)|raw }}</p>

                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>


{% endblock %}